<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo">JO 2025</a>
    <a routerLink="/offert">Offres</a>
    <a routerLink="/cart">Panier</a>
      <a routerLink="/reservation">Mes Reservation</a>
      <a *ngIf="is_Admin()" routerLink="/admin">Admin Panel</a>  
     
  </div>
 

  <div class="nav-right" *ngIf="isLoggedIn(); else guestLinks">
    <span class="user-info">Bonjour, {{ getUserEmail() }}</span>
    <button (click)="logout()">Se déconnecter</button>
  </div>

  <ng-template #guestLinks>
    <div class="nav-right">
      <a routerLink="/login">Connexion</a>
      <a routerLink="/register">Créer un compte</a>
    </div>
  </ng-template>
</nav>
