<section class="offres">
  <h1>Nos Offres Disponibles</h1>

  <!-- Bottone per creare nuove offerte solo per admin -->
  <button class="btnCreateOffert" *ngIf="isAdmin" (click)="onCreateOffer()">
    Nouvelle offre
  </button>

  <!-- Loading -->
  <div *ngIf="isLoading" class="chargement">
    <p>Chargement des offres en cours...</p>
  </div>

  <!-- Nessuna offerta disponibile -->
  <div *ngIf="!isLoading && offertlist.length === 0" class="aucune-offre">
    <p>Aucune offre disponible pour le moment.</p>
  </div>

  <!-- Lista offerte -->
  <div *ngIf="!isLoading && offertlist.length > 0" class="cards">
    <div *ngFor="let offre of offertlist" class="offre-card" [class.disabled]="offre.availableSeats === 0 && !isAdmin"
      [class.deleted]="offre.deleted">

      <!-- Titolo e badge cancellata -->
      <h2>
        {{ offre.name }}
        <span *ngIf="offre.deleted" class="badge-deleted">Offre supprimée</span>
      </h2>

      <!-- Immagine -->
      <div *ngIf="offre.imageUrl" class="image-container">
        <img [src]="offre.imageUrl" alt="Image de l'offre" />
      </div>

      <!-- Informazioni base -->
      <p>Prix : {{ offre.price }} €</p>
      <p>Places disponibles : {{ offre.availableSeats }}</p>

      <!-- Messaggio se esaurita -->
      <p class="no-seats" *ngIf="offre.availableSeats === 0 && !offre.deleted">
        Offre terminée
      </p>

      <!-- Pulsante dettagli -->
      <a [routerLink]="['/offert', offre.id]">
        <button [disabled]="(offre.availableSeats === 0 && !isAdmin) ">
          Voir Détails
        </button>
      </a>

      <!-- Pulsanti admin -->
      <div *ngIf="isAdmin" class="admin-buttons">

        <!-- Modifica solo se non cancellata -->
        <button class="btnEditOffert" (click)="onEditfOffert(offre.id)" *ngIf="!offre.deleted && isAdmin">
          Modifier
        </button>

        <!-- Rimuovi se non cancellata -->
        <button class="btnRemoveOffert" (click)="onRemoveOffert(offre.id)" *ngIf="!offre.deleted">
          Supprimer
        </button>

        <!-- Reinserisci se cancellata -->
        <button class="btnRestoreOffert" (click)="onRestoreOffert(offre.id)" *ngIf="offre.deleted">
          Réintégrer l'offre
        </button>

      </div>

    </div>
  </div>
</section>